@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700|Leckerli+One|Merienda:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/* Import Bootstrap, fonts, fontawesome */

/* Hold this
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Merienda', cursive;
*/

nav {
	width:100%;
	background-color: #400040;
	padding-top: 5px;
	border-bottom: 2px solid;
	border-bottom-color: #e5c100;
}

body {
	font-family: 'Merienda', cursive;
	font-size: 16px;
	color: #400040;
	background-color: gray;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-weight: 700px;
}

footer {
	position: relative;
	width:100%;
	color: #e5c100;
	background-color: #400040;
	padding-top: 5px;
	border-top: 2px solid;
	border-top-color: #e5c100;
}

li {
	padding: 0.5em;
	text-decoration: none;
}

.grey {
	color: #787878;
}

.menubutton {
	color:  #e5c100;
	text-decoration: none;
}

.menubutton:hover, .menubutton:focus {
	color: white;
	text-decoration: none;
}

.center {
	text-align: center;
}

.right {
	position: relative;
	float: right;
}

.righttext {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.indent {
	margin-left: 1em;
}

.icon {
	padding-right: 5px;
	margin: 5px;
}

a, th, a:focus, a:hover {
	color: black;
}

.searchbar {
	padding: .5em;
	border-bottom: 3px solid;
	border-bottom-color: black;
}

/* Media query, instructions for large screens */
@media screen and (min-width: 768px){
	body {
		font-size: 20px;
	}

	header {
		background-image: url(../img/quad.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		color: #400040;
		min-height: 550px;
		position: relative;
		top: 0px;
		width: auto;
		margin: 0 auto;
		border-bottom: 3px solid;
		border-bottom-color: #e5c100;
	}
